<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div class="header">
        <sly id="mainHeader" data-sly-resource="${'/content/ucs-exercise-renepromesse/us/en/uni-credit/jcr:content/mainHeader' @ resourceType='ucs-exercise-renepromesse/components/header'}">
    </div>
    <div>
        <sly data-sly-resource="${@path='parsys', resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>
    
    <div class="footer">
        <sly id="mainFooter" data-sly-resource="${'/content/ucs-exercise-renepromesse/us/en/uni-credit/jcr:content/mainFooter' @ resourceType='ucs-exercise-renepromesse/components/footer'}">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
        <sly data-sly-call="${clientlib.js @ categories='ucs-exercise-renepromesse.head'}" />
    </sly>  
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
        <sly data-sly-call="${clientlib.js @ categories='ucs-exercise-renepromesse.old'}" />
    </sly>  
</body>
</html>

