
  <!-- ******************* START FOOTER COMPONENT ******************* -->
  <footer class="footer ucg-icons__newPackage">
    <div class="footer__wrap container">
      <div class="footer__upper">
        <div>
          <sly id="footer_section1" data-sly-resource="${'footer_section1' @ resourceType='ucs-exercise-renepromesse/components/footer_section1'}"/>
        </div>
        <div>
          <sly id="footer_section2" data-sly-resource="${'footer_section2' @ resourceType='ucs-exercise-renepromesse/components/footer_section2'}"/>
        </div>
      </div>
      <div class="footer__bottom">
        <div>
          <sly id="footer_copyright" data-sly-resource="${'footer_copyright' @ resourceType='ucs-exercise-renepromesse/components/footer_copyright'}"/>
        </div>
        <div class="footer__col">
          <div>
            <sly id="footer_social_media" data-sly-resource="${'footer_social_media' @ resourceType='ucs-exercise-renepromesse/components/footer_social_media'}"/>
          </div>
          <div>
            <sly id="footer_external_links" data-sly-resource="${'footer_external_links' @ resourceType='ucs-exercise-renepromesse/components/footer_external_links'}"/>
          </div>
        </div>
      </div>
    </div>
  </footer>
  