
  <!-- ******************* START FOOTER COMPONENT ******************* -->
  <footer class="footer ucg-icons__newPackage">
    <div class="footer__wrap container">
      <div class="footer__upper">
        <div>
          <sly id="footer_section1" data-sly-resource="${'footer_section1' @ resourceType='ucs-exercise-renepromesse/components/footer_section1'}"/>
        </div>
        <div>
          <sly id="footer_section2" data-sly-resource="${'footer_section2' @ resourceType='ucs-exercise-renepromesse/components/footer_section2'}"/>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__col">
          <img class="footer__logo" src="/etc.clientlibs/ucs-exercise-renepromesse/clientlibs/clientlib-page/resources/image/footer/basics-logo-negative.svg" />
          <div class="footer__copy">
            © 20XX – 20XX UniCredit S.p.A. - All Rights reserved
          </div>
        </div>
        <div class="footer__col">
          <div>
            <sly id="footer_social_media" data-sly-resource="${'footer_social_media' @ resourceType='ucs-exercise-renepromesse/components/footer_social_media'}"/>
          </div>
          <div class="footer__utils">
            <a href="#">Lorem ipsum</a>
            <a href="#">Lorem ipsum</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  