
  <!-- ******************* START NEW HEADER COMPONENT ******************* -->
  <header class="header ucg-icons__newPackage">
    <nav class="navbar container-fixed">
      <div class="navbar__zero-level">
        <div>
          <sly id="logo" data-sly-resource="${'logo' @ resourceType='ucs-exercise-renepromesse/components/logo'}"/>
        </div>
        <div>
          <sly id="menu" data-sly-resource="${'menu' @ resourceType='ucs-exercise-renepromesse/components/menu'}"/>
        </div>
        
        <a class="navbar__entry-point" href="#">
          <div class="icon icon-online-Banking_A"></div>
          <div class="entry-point__text text--label">ONLINE BANKING</div>
        </a>
      </div>

      <div class="navbar__hamburger">
        <div class="navbar__first-level">
          <div class="navbar__back text--label"> 
            <div class="icon icon-back"></div>
            <span>BACK</span>
          </div>
          <div>
            <sly id="submenu" data-sly-resource="${'submenu' @ resourceType='ucs-exercise-renepromesse/components/sub-menus'}">
          </div>

          <div class="navbar__languages">
            <div class="languages__selector">
              <p class="selector__text text--label">ITA</p>
              <span class="icon icon-down"></span>
              <div class="selector__items">
                <a class="selector__item selector__item--active text--label" data-lang="ITA" data-lang-dk="ITALIANO"
                  data-lang-m="IT" href="#">ITALIANO</a>
                <a class="selector__item text--label" data-lang="ENG" href="#" data-lang-dk="ENGLISH"
                  data-lang-m="EN">ENGLISH</a>
                <a class="selector__item selector__item--disabled text--label" data-lang="DE" data-lang-dk="DEUTSCHE"
                  data-lang-m="DE" href="#">DEUTSCHE</a>
              </div>
            </div>
          </div>
          <div class="navbar__second-level">
            <div class="second-level__items about-us" data-nav-2="about-us">
              <div class="container">
                <a class="second-level__item--title text--paragraph-title" href="#">
                  ABOUT US
                </a>
                <a class="second-level__item text--body" href="#">Clients</a>
                <a class="second-level__item text--body" href="#">Our People</a>
                <a class="second-level__item text--body" href="#">Commitment</a>
                <a class="second-level__item text--body" href="#">Time 4 u</a>
              </div>
            </div>

            <div class="second-level__items one-unicredit" data-nav-2="one-unicredit">
              <div class="container">
                <a class="second-level__item--title text--paragraph-title" href="#">
                  ONE UNICREDIT
                </a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">one-unicredit</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">governance</a>
                <a class="second-level__item text--body" href="#">Lorem</a>
              </div>
            </div>

            <div class="second-level__items business" data-nav-2="business">
              <div class="container">
                <a class="second-level__item--title text--paragraph-title" href="#">
                  BUSINESS
                </a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">business</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Amet</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Amet</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">business</a>
                <a class="second-level__item text--body" href="#">onTest</a>
              </div>
            </div>

            <div class="second-level__items governance" data-nav-2="governance">
              <div class="container">
                <a class="second-level__item--title text--paragraph-title" href="#">
                  GOVERANCE
                </a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">governance</a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">business</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Amet</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Amet</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">business</a>
                <a class="second-level__item text--body" href="#">onTest</a>
              </div>
            </div>

            <div class="second-level__items investors" data-nav-2="investors">
              <div class="container">
                <a class="second-level__item--title text--paragraph-title" href="#">
                  INVESTORS
                </a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">investors</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Amet</a>
              </div>
            </div>

            <div class="second-level__items sustainability" data-nav-2="sustainability">
              <div class="container">
                <a class="second-level__item--title text--paragraph-title" href="#">
                  SUSTAINABILITY
                </a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">sustainability</a>
                <a class="second-level__item text--body" href="#">Amet</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">Amet</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">Amet</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
              </div>
            </div>

            <div class="second-level__items press-media" data-nav-2="press-media">
              <div class="container">
                <a class="second-level__item--title text--paragraph-title" href="#">
                  PRESS MEDIA
                </a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">careers</a>
              </div>
            </div>

            <div class="second-level__items careers" data-nav-2="careers">
              <div class="container">
                <a class="second-level__item--title text--paragraph-title" href="#">
                  CAREERS
                </a>
                <a class="second-level__item text--body" href="#">Lorem</a>
                <a class="second-level__item text--body" href="#">Ipsum</a>
                <a class="second-level__item text--body" href="#">careers</a>
                <a class="second-level__item text--body" href="#">onTest</a>
                <a class="second-level__item text--body" href="#">Amet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="hamburger">
      <div class="icon"></div>
    </div>