
  <!-- ******************* START NEW HEADER COMPONENT ******************* -->
  <header class="header ucg-icons__newPackage">
    <nav class="navbar container-fixed">
      <div class="navbar__zero-level">
        <div>
          <sly id="logo" data-sly-resource="${'logo' @ resourceType='ucs-exercise-renepromesse/components/logo'}"/>
        </div>
        <div>
          <sly id="menu" data-sly-resource="${'menu' @ resourceType='ucs-exercise-renepromesse/components/menu'}"/>
        </div>
        
        <a class="navbar__entry-point" href="#">
          <div class="icon icon-online-Banking_A"></div>
          <div class="entry-point__text text--label">ONLINE BANKING</div>
        </a>
      </div>
        <div>
          <sly id="submenu" data-sly-resource="${'submenu' @ resourceType='ucs-exercise-renepromesse/components/sub-menus'}">
        </div>
    </nav>
    <div class="hamburger">
      <div class="icon"></div>
    </div>